alias codehere="code . && exit"
# Replace ls with eza
alias ls='eza --color=always --group-directories-first --icons' # preferred listing
alias la='eza -a --color=always --group-directories-first --icons'  # all files and dirs
alias ll='eza -l --color=always --group-directories-first --icons'  # long format
alias lt='eza -aT --color=always --group-directories-first --icons' # tree listing
alias l.='eza -ald --color=always --group-directories-first --icons .*' # show only dotfiles

alias wget='wget -c '
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
alias hw='hwinfo --short'                          # Hardware Info
alias big="expac -H M '%m\t%n' | sort -h | nl"     # Sort installed packages according to size in MB (expac must be installed)
alias ip='ip -color'

# Get the error messages from journalctl
alias jctl="journalctl -p 3 -xb"

# nixos shi
alias rebuildpls="sudo nixos-rebuild switch --flake ~/nixos-config/"
alias testpls="sudo nixos-rebuild test --flake ~/nixos-config/"
alias updatepls="sudo nix-channel --update"
alias joorserebuildpls="sudo nixos-rebuild switch --flake ~/nixos-config/  --show-trace --print-build-logs --verbose"

# nixos config shi
# alias editconfig="nvim ~/nixos-config/nixos/configuration.nix"
# alias edithome="nvim ~/nixos-config/nixos/home.nix"
# alias updatepls="nix-channel --update && sudo nix-channel --update"

# nh (nix-helper) shi
FLAKEREF="~/nixos-config"
alias nhrebuild="nh os boot $FLAKEREF"
alias nhrebuildnow="nh os switch $FLAKEREF"
alias nhtest="nh os test $FLAKEREF"
alias nhleptup="nh os boot $FLAKEREF -H leptup"
alias nhleptupnow="nh os switch $FLAKEREF -H leptup"
alias nhleptuptest="nh os test $FLAKEREF -H leptup"
alias nhpc="nh os boot $FLAKEREF -H pc"
alias nhpcnow="nh os switch $FLAKEREF -H pc"
alias nhpctest="nh os test $FLAKEREF -H pc"

# alias llogin="bash ~/Documents/LPU-Wireless-Autologin/main.sh"
alias nv-smi="watch -n 1 nvidia-smi"
alias editnix="cd ~/nixos-config && codehere"
alias iwdrestart="systemctl restart iwd"
alias cls="clear"

#web dev aliases
alias bund="bun dev"
alias lazyyadm="yadm enter lazygit"

alias k="sudo kubectl"
alias "k?"="echo \"alias k=kubectl\" | wl-copy && exit"

# alias gs="git status --short"
# alias ga="git add"
# alais gc="git commit"
# alias gp="git push"
# alias 
