# ---- System ----
# alias shutdown="shutdown now"
# alias reboot="reboot now"

# ---- Misc ----
alias zshconf="nvim ~/.zshrc"
alias aliases="nvim ~/.aliases"
alias cat="bat"
alias codehere="code . && exit"

alias copilot="gh copilot"

# Replace ls with exa
alias ls='exa -al --color=always --group-directories-first --icons' # preferred listing
alias la='exa -a --color=always --group-directories-first --icons'  # all files and dirs
alias ll='exa -l --color=always --group-directories-first --icons'  # long format
alias lt='exa -aT --color=always --group-directories-first --icons' # tree listing
alias l.='exa -ald --color=always --group-directories-first --icons .*' # show only dotfiles


# Common use
# alias grubup="sudo update-grub"
# alias fixpacman="sudo rm /var/lib/pacman/db.lck"
alias tarnow='tar -acf '
alias untar='tar -zxvf '
alias wget='wget -c '
# alias rmpkg="sudo pacman -Rdd"
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
# alias upd='/usr/bin/garuda-update'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
# alias grep='ugrep --color=auto'
# alias fgrep='ugrep -F --color=auto'
# alias egrep='ugrep -E --color=auto'
alias hw='hwinfo --short'                          # Hardware Info
alias big="expac -H M '%m\t%n' | sort -h | nl"     # Sort installed packages according to size in MB (expac must be installed)
alias gitpkg='pacman -Q | grep -i "\-git" | wc -l' # List amount of -git packages
alias ip='ip -color'

# Get the error messages from journalctl
alias jctl="journalctl -p 3 -xb"


# nixos shi
alias rebuildpls="sudo nixos-rebuild switch --flake ~/nixos-config/"
alias testpls="sudo nixos-rebuild test --flake ~/nixos-config/"
alias updatepls="sudo nix-channel --update"
alias joorserebuildpls="sudo nixos-rebuild switch --flake ~/nixos-config/  --show-trace --print-build-logs --verbose"

# nixos config shi
alias editconfig="nvim ~/nixos-config/nixos/configuration.nix"
alias edithome="nvim ~/nixos-config/nixos/home.nix"
alias updatepls="nix-channel --update && sudo nix-channel --update"

# nh (nix-helper) shi
FLAKEREF="~/nixos-config"
alias nhrebuild="nh os switch $FLAKEREF"
alias nhtest="nh os test $FLAKEREF"

alias llogin="bash ~/Documents/LPU-Wireless-Autologin/main.sh"
# alias zoho-meeting="appimage-run ~/Documents/Appimages/ZohoMeeting-x64.AppImage"
